#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-panel-launcher
Name[en_US]=Stop Portal
Exec=/home/vagrant/bin/portal_script.sh
Comment[en_US]=Stop SteelScript Portal Server
Name=Stop Portal
Comment=Stop SteelScript Portal Server
Icon=gnome-panel-launcher
